<div class="indoor" id="indoor">

  <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Benvenuto mr <%=@attuale%>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <%= @tabella.html_safe %>
      </div>
      <div class="col-sm-2">
         <div class="row">
            Your best results
         </div>
         <div class="row">
             1)  <%=@record1%>
         </div>
         <div class="row">
             2)  <%=@record2%>
         </div>
         <div class="row">
             3)  <%=@record3%>
         </div>
         <div class="row">
            <p></p>
         </div>
          <div class="row">
            Actual Record:
         </div>
         <div class="row">
            <div class="muovi" id="actualRecord">
               <%= @actualRecord%>
            </div>
         </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <div class="col-sm-2">
                <button class= "buttons" onclick=avvia(0)> Labirinto Base </button>
            </div>
            <div class="col-sm-2">
                <button class= "buttons" onclick=avvia(1)> Labirinto Facile </button>
            </div>
            <div class="col-sm-2">
                <button class= "buttons" onclick=avvia(2)> Labirinto Medio </button>
            </div>
            <div class="col-sm-2">
                <button class= "buttons" onclick=avvia(3)> Labirinto Difficile </button>
            </div>
            <div class="col-sm-2">
                <button class= "buttons" onclick=avvia(4)> Impossibile </button>
            </div>
        </div>
    </div>
</div>