<div class="container">
  <div class="col-sm-5"></div>
  <div class="col-sm-5">
    <h2>General Ranking</h2>
    <table class="bordered centra">
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Result</th>
        </tr>
        </thead>
        <tr>
            <td>1</td>
            <td><%= @gr1name %></td>
            <td><%= @gr1res %></td>
        </tr>
        <tr>
            <td>2</td>
            <td><%= @gr2name %></td>
            <td><%= @gr2res %></td>
        </tr>
        <tr>
            <td>3</td>
            <td><%= @gr3name %></td>
            <td><%= @gr3res %></td>
        </tr>
    </table>
  </div>
</div>