
<div class="postmortem">
  <div class="container">
     <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <h1><%=Rails.application.config.my_config%>,  sei morto</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
           <h1> hai totalizzato un punteggio di: <%= @punteggio %> </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
           <h2>Il tuo record:</h2>
        </div>
        <div class="col-sm-6">
           <h1> <%= @record1 %> </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
           <h2>Il secondo:</h2>
        </div>
        <div class="col-sm-6">
           <h1> <%= @record2 %> </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
           <h2>Il terzo:</h2>
        </div>
        <div class="col-sm-6">
           <h1> <%= @record3 %> </h1>
        </div>
      </div>
  </div>
</div>