<div class = "login">
  <div class="body-login">
    <div class="wrapper-login">
      <div class="container-login">
        <h1>Login</h1><!-- form automatico di rails scartato per problema grafica, conservato sotto nella parte commentata-->
        <form action= "/login/read" method="post" class="form-login">
          <div class="row">
            <input type="text" placeholder="Username" name = "utente[user]" id="utente_user">
            <input type="password" placeholder="Password"  name = "utente[password]" id="utente_password">
          </div>
          <div class="row">
           <p></p>
          </div>
          <div class="row">
            <button type="submit" id="login-button" name="commit" value="Enter">Enter</button>
          </div>
        </form>
      </div>

      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>

<!--<h1 class="header">Inserisci i dati di login!</h1>

<%= form_for :utente, url: "/login/read" do |f| %>
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>

  <p>
    <input type="submit" name="commit" value="Enter">
  </p>
<% end %>-->

